doctype html
html(class="h-full bg-gray-50")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= title
    link(href="/styles/style.css", rel="stylesheet")
  body(class="h-full")
    main 
      div(class="mx-auto max-w-7xl p-10 sm:px-6 lg:px-8 relative")
        block content

