extends form_layout

block content
    form( method="post" class="flex min-h-full flex-col justify-center px-6 lg:px-8 relative")
        div(class="space-y-12")
            div(class="border-b border-gray-900/10 pb-12")
                div(class="sm:mx-auto sm:w-full sm:max-w-sm bg-gray-800 p-4")
                    h1(class="text-3xl font-bold tracking-tight text-center text-white") members#[em(class="text-blue-700") ONLY]
                    h2(class="mt-10 text-center text-2xl font-bold leading-9 text-white tracking-tight text-gray-900") sign up for an account 
                if errors 
                    ul(class="bg-red-100 mt-4 border border-red-400 text-red-700 px-4 py-3 rounded text-sm" role="alert") 
                        each error in errors 
                            li(class="") !  !{error.msg}
                div(class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6")
                    div(class="sm:col-span-3")
                        label(for="first_name" class="block text-sm font-medium leading-6 text-gray-900") First name 
                        div(class="mt-2")
                            input(type="text" required name="first_name" id="first_name" value=(user? user.first_name : '') autocomplete="given-name" placeholder="Mark" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" )
                    div(class="sm:col-span-3")
                        label(for="last_name" class="block text-sm font-medium leading-6 text-gray-900") Last name 
                        div(class="mt-2")
                            input(type="text" required name="last_name" id="last_name" value=(user? user.last_name : '') autocomplete="family-name" placeholder="Zuckerburg" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" )
                    div(class="sm:col-span-4")
                        label(for="username" class="block text-sm font-medium leading-6 text-gray-900") Username 
                        div(class="mt-2")
                            div(class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md")
                                span(class="flex select-none items-center pl-3 text-gray-500 sm:text-sm") @
                                input(type="text" required name="username" id="username" value=(user? user.username : '') autocomplete="username" placeholder="zuck" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6")
                    div(class="sm:col-span-6")
                        label(for="password" class="block text-sm font-medium leading-6 text-gray-900") Password 
                        div(class="mt-2")
                            input(type="password" required name="password" id="password" autocomplete="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" )
                    div(class="sm:col-span-6")
                        label(for="confirm_password" class="block text-sm font-medium leading-6 text-gray-900") Confirm password 
                        div(class="mt-2")
                            input(type="password" required name="confirm_password" id="confirm_password" autocomplete="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" )
        div(class="mt-6 flex items-center justify-end gap-x-6")
            a(href="/", class="text-sm font-semibold leading-6 text-gray-900") Cancel 
            button(type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") sign up 
        p(class="mt-10 text-center text-sm text-gray-500") Already have an account 
            a(href="/user/log-in", class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500") log in 